body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0px;
	/* background: rgb(255, 255, 255);
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 1) 15%,
		rgba(229, 229, 229, 1) 30%,
		rgba(204, 204, 204, 1) 70%,
		rgba(229, 229, 229, 1) 85%,
		rgba(255, 255, 255, 1) 100%
	); */
	background: rgb(229, 229, 229);
	background: linear-gradient(
		90deg,
		rgba(229, 229, 229, 1) 1%,
		rgba(255, 255, 255, 1) 50%,
		rgba(229, 229, 229, 1) 99%
	);
}
h1 {
	text-align: center;
	font-size: 4rem;
	font-weight: bolder;
	width: 100%;
	background-color: #00171f;
	color: white;
	margin: 0px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
main {
	display: flex;
	/* flex-direction: column; */
	margin: 0px 60px;
}
img {
	width: 100%;
}
a {
	text-decoration: none;
}
.coloana {
	flex: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
}
.coloana-principala {
	flex: 2;
}
.coloana-nested {
	flex: 2;
}
.articol {
	border: 3px solid #0a85f0;
	background-color: #003459;
	margin: 10px;
	justify-content: center;
	align-items: center;
	color: white;
	flex: 1;
	display: flex;
	flex-direction: column;
	flex-basis: auto;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	height: calc(100vh - 100px);
}

.articol:hover,
.articol:focus {
	box-shadow: 0 28px 56px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	transition: all 500ms ease-in;
}
.articol-mic {
	height: min-content;
	margin-bottom: 0px;
}
.articol-mic h2 {
	height: min-content;
	margin-bottom: 0px;
}
.articol-mic continut-articol {
	padding: 10px;
	margin: 0px;
}
.continut-articol {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 30px;
	padding-top: 0px;
}
.imagine-articol {
	flex: 4;
	height: 65%;
}
.continut-articol p {
	flex: 1;
	height: 200px;
}
.continut-articol h2 {
	text-transform: uppercase;
	font-weight: bold;
}
.continut-articol a {
	text-decoration: none;
	color: white;
}
.footer-articol {
	display: flex;
	justify-content: space-between;
}
